<<<<<<< HEAD
* {
    box-sizing: border-box;
    font-family: 'Century Gothic';
    transition: 0.3s;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    font-size: 100%;
}

h1, h2, h3, a {
    font-family: 'Product Sans';
}

a {
    text-decoration: none;
    color: black;

}

a.button {
    padding: 1em;
    border: 1px solid black;
    text-transform: uppercase;

}

a.button:hover {
    color: white;
    background-color: black;
}

#header {
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
}

#header .logo {
    height: 70px;
    display: inline-block;
    float: left;
}

#header .logo a {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    line-height: 70px;
}

#header .nav {
    height: 70px%;
    display: inline-block;
    float: right;
}

#header .nav a {
    line-height: 70px;
    margin: 0 0px 0 50px;
    text-transform: uppercase;
    font-size: .9em;
}

#header .nav a:hover {
    color: grey;
}

#main .banner {
    width: 100%;
    height: 90vh;
    background-image: url(../images/bg001.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

#main .banner .content {
    margin-left: 100px;
    width: 50%;
}

#main .banner .content h2 {
    font-size: 3.5em;
    color: white;
    margin: 0 0 20px 0;

}

#main .banner .content h4 {
    font-size: 1em;
    color: white;
    margin: 0 0 20px 0;
    font-weight: 100;
}

#main .banner .content a {
    display: inline-block;
    margin-top: 10px;
    border: 1px solid white;
    color: white;
}

#main .banner .content a:hover {
    color: black;
    background-color: white;
}

#main .about {
    padding: 10px 100px 50px 100px;
}

#main .about h3 {
    text-align: center;
    font-weight: 300;
    color: #686868;
    font-size: 2em;
    text-transform: uppercase;
}

#main .about p {
    text-align: justify;
    line-height: 1.5em;
}

#main h3.testen {
    text-align: center;
    font-weight: 300;
    color: #686868;
    font-size: 2em;
    text-transform: uppercase;
}

#main .TestemonialsCont {
    width: 100%;
    padding: 25px 100px;
    height: 450px;
    overflow: hidden;
    position: relative;
}

#main .TestemonialsCont .leftbtn, #main .TestemonialsCont .rightbtn {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
    top: 50%;

}

#main .TestemonialsCont .leftbtn {
    margin-left: -35px;
}

#main .TestemonialsCont .rightbtn {
    margin-right: -35px;
    right: 100px;
}




.TestemonialsCont .slider {
    width: 100%;
    height: 100%;
}

.TestemonialsCont .slider .slide {
    width: 100%;
    height: 100%;
    background-image: url(../images/Hrvy2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;

    display: flex;
    align-items: center;
}

.TestemonialsCont .slider .slide .txt {
    color: white;
    width: 450px;
    margin-left: 50px;

}

.TestemonialsCont .slider .slide .txt h3 {
    font-size: 1.8em;
    font-weight: 300;
    margin: 10px 0;
}

.TestemonialsCont .slider .slide .txt p {
    text-align: right;
    font-style: italic;
}





























.Spaaace {
    height: 500px;
}
=======
* {
    box-sizing: border-box;
    font-family: 'Century Gothic';
    transition: 0.3s;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    font-size: 100%;
}

h1, h2, h3, a {
    font-family: 'Product Sans';
}

a {
    text-decoration: none;
    color: black;

}

a.button {
    padding: 1em;
    border: 1px solid black;
    text-transform: uppercase;

}

a.button:hover {
    color: white;
    background-color: black;
}

#header {
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
}

#header .logo {
    height: 70px;
    display: inline-block;
    float: left;
}

#header .logo a {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    line-height: 70px;
}

#header .nav {
    height: 70px%;
    display: inline-block;
    float: right;
}

#header .nav a {
    line-height: 70px;
    margin: 0 0px 0 50px;
    text-transform: uppercase;
    font-size: .9em;
}

#header .nav a:hover {
    color: grey;
}

#main .banner {
    width: 100%;
    height: 90vh;
    background-image: url(../images/bg001.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

#main .banner .content {
    margin-left: 100px;
    width: 50%;
}

#main .banner .content h2 {
    font-size: 3.5em;
    color: white;
    margin: 0 0 20px 0;

}

#main .banner .content h4 {
    font-size: 1em;
    color: white;
    margin: 0 0 20px 0;
    font-weight: 100;
}

#main .banner .content a {
    display: inline-block;
    margin-top: 10px;
    border: 1px solid white;
    color: white;
}

#main .banner .content a:hover {
    color: black;
    background-color: white;
}

#main .about {
    padding: 10px 100px 50px 100px;
}

#main .about h3 {
    text-align: center;
    font-weight: 300;
    color: #686868;
    font-size: 2em;
    text-transform: uppercase;
}

#main .about p {
    text-align: justify;
    line-height: 1.5em;
}

#main h3.testen {
    text-align: center;
    font-weight: 300;
    color: #686868;
    font-size: 2em;
    text-transform: uppercase;
}

#main .TestemonialsCont {
    width: 100%;
    padding: 25px 100px;
    height: 450px;
    overflow: hidden;
    position: relative;
}

#main .TestemonialsCont .leftbtn, #main .TestemonialsCont .rightbtn {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
    top: 50%;

}

#main .TestemonialsCont .leftbtn {
    margin-left: -35px;
}

#main .TestemonialsCont .rightbtn {
    margin-right: -35px;
    right: 100px;
}




.TestemonialsCont .slider {
    width: 100%;
    height: 100%;
}

.TestemonialsCont .slider .slide {
    width: 100%;
    height: 100%;
    background-image: url(../images/Hrvy2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;

    display: flex;
    align-items: center;
}

.TestemonialsCont .slider .slide .txt {
    color: white;
    width: 450px;
    margin-left: 50px;

}

.TestemonialsCont .slider .slide .txt h3 {
    font-size: 1.8em;
    font-weight: 300;
    margin: 10px 0;
}

.TestemonialsCont .slider .slide .txt p {
    text-align: right;
    font-style: italic;
}

.contact_holder{
  background-image: url(/Users/user/Documents/workspace/eds_practical/EdsWeb/images/photo-1468413922365-e3766a17da9e.jpeg);
  height:500px;
  margin-top: 15%;
  padding: 100px 300px;
  text-transform: uppercase;
  color: white;
  font-size: 1.8em;
  font-family: serif;
}



























.Spaaace {
    height: 500px;
}
>>>>>>> contact
